<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:mongo="http://www.springframework.org/schema/data/mongo"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd ">
 	
 	<mvc:annotation-driven/>
	<context:component-scan base-package="com.myRetail" />
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
	
	<bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" />
  	
  	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory dbname="mydb" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
</beans>

